header
  .film
    nav
      .container
        ul
          a href="/"
            li.logo <h2>The Interknights!</h2>
          a href="/services"
            li Services
          a href="/about"
            li About Us
          a href="/contact"
            li Contact Us
section.red.page-title
  .container
    h1 Services
section.services.red
  .container
    p As well as our two main packages, we also provide <strong>flexible pricing</strong> based on the nature of your project. If you are looking for something more extravegant, our InterKnights are well rounded and can tackle just about anything you throw at them in the realm of design and development. Send us a message at stuart@interknights.co, and we will be happy to give you a quote, answer any questions you might have, or chat about whatever.
section#coffee
  .container
    h2 Coffee Shop Session
    h3 $250
    p We sit down one-on-one at a coffee shop and crank out a website and full web presence for your business, the coffee is on us. Here's what this package includes:
    ul
      li One personalized website
      li A facebook page for your business
      li Your business listed on google maps
      li As much content for your page as we can complete in one session
      li Consultation on making the most of these tools, climbing the Google search results, and more.p <strong>InterKnights was created to help</strong> those who are unable to pay the premium rates that are so often charged by web development and marketing firms. We realized that in many cases, the cost of a website alone may set a small business back so far that it ends up hurting, rather than helping. The odds are already stacked against the small business owner, so we have made it our mission to tip the scales. The Interknights believe that the web can be a balancing force, and <strong>our mission is to empower all people to grow and flourish</strong> using the greatest tool equal opportunity has ever had, the internet.
section#website-in-a-day
  .container
    h2 Website in a day
    h3 $500
    p We come to your place of business, and set up your web presence as you go about your normal workday. If you do not have a physical location, other arrangements will be made. This is the complete package, and it includes:
    ul
      li Everything included in the Coffee Shop Session
      li Custom photography
      li Fully personalized content for your website
      li Additional time put into design, marketing strategy, and social media
      li Gathering input and testimonials from customers
